.control-section {
  height: 400px;
}

#defaultLayout {
  height: 100% !important;
}
.form-candidatos {
  margin-bottom: 10px;
  width: 400px;
  height: 300px;
}

.form-candidatos-buttons {
  width: 320px;
  margin: 0px auto;
  height: 100px;
  padding-top: 25px;
}

.form-candidatos-buttons-submit {
  display: inline-block;
}

.form-candidatos-buttons-commons {
  height: 40px;
  width: 125px;
}

.form-candidatos-buttons-clear {
    float:right;
}


